
<ul>
  <li><a class="active" href="{% url 'table5' %}">table5</a></li>
  <li><a class="active" href="{% url 'doctortable' %}">doctortable</a></li>
  <li><a class="active" href="{% url 'teachertable' %}">teachertable</a></li>
  <li><a class="active" href="{% url 'table4' %}">table4</a></li>

    <li><a class="active" href="{% url 'table5form' %}">Table5 Add</a></li>
    <li><a class="active" href="{% url 'teacherform' %}">Teacher Add</a></li>
    <li><a class="active" href="{% url 'addstudentpage' %}">Student Page</a></li>
    
    <li><a class="active" href="{% url 'table4form' %}">Table4 Add</a></li>
    <li><a class="active" href="{% url 'doctorform' %}">Doctor Add</a></li>
    <li><a class="active" href="{% url 'home' %}">Home</a></li>
  </ul>
  