<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Personal Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="\static\profile/assets/img/favicon.png" rel="icon">
  <link href="\static\profile/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="\static\profile/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="\static\profile/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="\static\profile/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="\static\profile/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="\static\profile/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="\static\profile/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="\static\profile/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="/{{user.BasicInformation.profile_picture}}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>UI/UX &amp; {{user.usertype}}</h3>
          
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{user.BasicInformation.phone}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{user.city}}</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span> {{user.age}} </span></li>
                
                {% if user.ChefProfile %}
                <li><i class="bi bi-chevron-right"></i> <strong>Certification:</strong> <span>{{user.ChefProfile.certification}}</span></li>
                {% endif %}

                <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>{{user.email}}</span></li>
                
                {% if user.ViewerProfile %}
                <li><i class="bi bi-chevron-right"></i> <strong>Interested Food:</strong> <span>{{user.ViewerProfile.interested_food}}</span></li>
                {% endif %}
            
            </ul>
            </div>
          </div>

          {% if user.ChefProfile %}

          <div class="row">
            <h1> Work Experience </h1>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Company:</strong> <span>{{user.ChefProfile.company}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Position:</strong> <span>{{user.ChefProfile.position}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Start:</strong> <span>{{user.ChefProfile.start}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>End:</strong> <span>{{user.ChefProfile.end}}</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
                <h1> Skills </h1>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Hard Skill:</strong> <span> {{user.ChefProfile.hard_skill}} </span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Soft Skill:</strong> <span>{{user.ChefProfile.soft_skill}}</span></li>
              </ul>
            </div>
          </div>
          {% endif %}
          
        </div>
      </div>
    </div>
    <!-- Vendor JS Files -->
  <script src="\static\profile/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="\static\profile/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="\static\profile/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="\static\profile/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="\static\profile/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="\static\profile/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="\static\profile/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="\static\profile/assets/js/main.js"></script>
  </body>

  </html>