{% extends 'profile.html' %}

{% block profilee %}
    

    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Qualification Form</title>
</head>
<body>

<h2>Educational Qualification</h2>
<form action="{% url 'edicationform' %}" method="POST">
    {% csrf_token %}
    <label for="degree">Degree:</label><br>
    <input type="text" id="degree" name="degree" required><br>
    
    <label for="institution">Institution:</label><br>
    <input type="text" id="institution" name="institution" required><br>
    
    <label for="year">Year:</label><br>
    <input type="text" id="year" name="year" required><br><br>
    
    <input type="submit" value="Submit">
</form>

</body>
</html>


{% endblock profilee %}