{% extends 'profile.html' %}


{% block profilee %}
    


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block protitle %}
        Edicational Qualification
    {% endblock protitle %}
    </title>
    <style>
        .card {
            width: 300px;
            background-color: #f0f0f0;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card h2 {
            margin-top: 0;
        }

        .card p {
            margin: 10px 0;
        }
    </style>
</head>
<body>

<div class="card">
    <h2>Educational Qualification</h2>
    <p><strong>Degree:</strong> {{user.Educational_Qualification.degree}}</p>
    <p><strong>Institution:</strong> {{user.Educational_Qualification.institution}}</p>
    <p><strong>Year:</strong> {{user.Educational_Qualification.year}}</p>
</div>

<button><a href="{% url 'edicationform' %}">Edit Data</a></button>

</body>
</html>



{% endblock profilee %}