{% extends 'index.html' %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Contact Form 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/recipe/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					{% include 'message.html' %}

					<h2 class="heading-section">Add your recipe</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="wrapper img" style="background-image: url(/static/recipe/images/img.jpg);">
						<div class="row">
							<div class="col-md-9 col-lg-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Get in touch with us</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm" action="" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <input type="hidden" value="{{recipe.id}}" name="id" >

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label"  for="name">Recipe Title</label>
													<input type="text" value="{{recipe.recipe_title}}" class="form-control" name="recipe_title" id="name" placeholder="recipe_title">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Cooking Time</label>
													<input type="text" value="{{recipe.cooking_time}}" class="form-control" name="cooking_time" id="name" placeholder="cooking_time">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Total Time</label>
													<input type="text" value="{{recipe.total_time}}" class="form-control" name="total_time" id="name" placeholder="total_time">
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="email">Ingredients</label>
													<input type="text" value="{{recipe.ingredients}}" class="form-control" name="ingredients" id="email" placeholder="ingredients">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">preparation_time</label>
													<input type="text" value="{{recipe.preparation_time}}" class="form-control" name="preparation_time" id="subject" placeholder="preparation_time">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">instructions</label>
													<textarea name="instructions" class="form-control" id="message" cols="30" rows="4" placeholder="instructions">{{recipe.instructions}}</textarea>
												</div>
											</div>

                                            <div class="col-md-12">
												<div class="form-group">

                                            <label class="label" for="#">Difficulty Level:</label><br>
                                                <select id="difficulty" name="difficulty_level">
                                                    <option value="easy" {% if recipe.difficulty_level == 'easy' %} selected {% endif %} >Easy</option>
                                                    <option value="medium" {% if recipe.difficulty_level == 'medium' %} selected {% endif %} >Medium</option>
                                                    <option value="hard" {% if recipe.difficulty_level == 'hard' %} selected {% endif %} >Hard</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">

                                        <label class="label" for="#">Recipe Category:</label><br>
                                            <select id="difficulty" name="recipe_category">
                                                <option value="breakfast" {% if recipe.recipe_category == 'breakfast' %} selected {% endif %} >Breakfast</option>
                                                <option value="lunch" {% if recipe.recipe_category == 'lunch' %} selected {% endif %} >Lunch</option>
                                                <option value="dinner" {% if recipe.recipe_category == 'dinner' %} selected {% endif %} >Dinner</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">

                                    <label class="label" for="#">Tags:</label><br>
                                        <select id="difficulty" name="tags">
                                            <option value="vegetarian" {% if recipe.tags == 'vegetarian' %} selected {% endif %} >Vegetarian</option>
                                            <option value="non_vegetarian" {% if recipe.tags == 'non_vegetarian' %} selected {% endif %} >Non_Vegetarian</option>
                                        </select>
                                    </div>
                                </div>



                                            <div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Nutritional Information</label>
													<input type="text" value="{{recipe.nutritional_information}}" class="form-control" name="nutritional_information" id="subject" placeholder="nutritional_information">
												</div>
											</div>

                                            <div class="col-md-12">
												<div class="form-group">
													<img src="/{{recipe.sample_recipe_image}}" alt="">
													<input type="hidden" value="{{recipe.sample_recipe_image}}" class="form-control" name="sample_recipe_image" id="subject" >
													<input type="file"  class="form-control" name="new_image" id="subject" >
												</div>
											</div>

                                            <div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">total_calory</label>
													<input type="text" value="{{recipe.total_calory}}" class="form-control" name="total_calory" id="subject" placeholder="total_calory">
												</div>
											</div>

                                        


											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Add Recipe" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/recipe/js/jquery.min.js"></script>
  <script src="/static/recipe/js/popper.js"></script>
  <script src="/static/recipe/js/bootstrap.min.js"></script>
  <script src="/static/recipe/js/jquery.validate.min.js"></script>
  <script src="/static/recipe/js/main.js"></script>

	</body>
</html>



{% endblock content %}