{% extends 'index.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>Using CSS to style an HTML Form</h3>

<div>
  <form action="{% url 'add' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="fname">Full Name</label>
    <input type="text" id="fname" name="FullName" placeholder="Your FullName..">

    <label for="fname">Address</label>
    <input type="text" id="fname" name="Address" placeholder="Your Address..">

    <label for="fname">Picture</label>
    <input type="file" id="fname" name="Picture" >

    <label for="fname">PhoneNumber</label>
    <input type="text" id="fname" name="PhoneNumber" placeholder="Your PhoneNumber..">

    <label for="fname">Email</label>
    <input type="text" id="fname" name="Email" placeholder="Your Email..">

    <label for="fname">CareerObject</label>
    <input type="text" id="fname" name="CareerObject" placeholder="Your CareerObject..">

    <label for="fname">Degree</label>
    <input type="text" id="fname" name="Degree" placeholder="Your Degree..">

    <label for="fname">Institution</label>
    <input type="text" id="fname" name="Institution" placeholder="Your Institution..">

    <label for="fname">Graduation Year</label>
    <input type="text" id="fname" name="GraduationYear" placeholder="Your Graduation Year..">

    <label for="fname">Company</label>
    <input type="text" id="fname" name="Company" placeholder="Your Company..">

    <label for="fname">Position</label>
    <input type="text" id="fname" name="Position" placeholder="Your Position..">

    <label for="fname">Start Date</label>
    <input type="text" id="fname" name="StartDate" placeholder="Your Start Date..">



    <label for="fname">End Date</label>
    <input type="text" id="fname" name="EndDate" placeholder="Your End Date..">

    <label for="fname">Hard Skills</label>
    <input type="text" id="fname" name="HardSkills" placeholder="Your Hard Skills..">

    <label for="fname">Soft Skill</label>
    <input type="text" id="fname" name="SoftSkill" placeholder="Your Soft Skill..">

    <label for="fname">Certification</label>
    <input type="text" id="fname" name="Certification" placeholder="Your Certification..">


    <label for="fname">Projects</label>
    <input type="text" id="fname" name="Projects" placeholder="Your Projects..">

    <label for="fname">References</label>
    <input type="text" id="fname" name="References" placeholder="Your References..">


    

    
  
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>




{% endblock content %}